$theme-color-background: $theme-color-white;
$theme-color-text: $theme-color-black;

*{
    box-sizing: border-box;
}

body{
    background-color: $theme-color-background;
    font-family: $theme-font-family;
    color: $theme-color-text;
}

p{
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
}

textarea{
    resize: vertical;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}