.site-footer{
    background-color: $theme-color-black;
    color: $white;

    .site-footer-socials{
        a{
            display: block;
            color: $theme-color-white; 
            &:not(:last-child){
                margin-right: 15px;
            }
        }
    }

    .site-footer-links{
        padding: 0;
        margin: 0;
        list-style: none;

        li{
            display: block;
            a{
                color: $theme-color-white;

                &:hover{
                    color: $theme-color-primary;
                }
            }

            &:not(:last-child){
                margin-bottom: 8px;
            }
        }
    }

    footer{
        margin: 0;
        padding: 0;
        opacity: .5;
        a{
            color: inherit;
        }
    }
}

.site-cta-newsletter{
    background-color: $theme-color-gray-300;
    color: $white;

    .site-cta-newsletter--slogan{
        a{
            text-decoration: none;
            padding-bottom: 4px;
            margin-left: 4px;
            color: $white;
            border-bottom: 3px solid $white;
        }
    }
    
    .form-input{
        background-color: transparent;
        color: $theme-color-white;
        border-color: $theme-color-white;
    }

    .button{
        padding-top: 5px;
        padding-bottom: 5px;
        border-color: $theme-color-white;
        color: $theme-color-white;

        svg{
            fill: $theme-color-white;
        }
    }
}

.site-content-section--header{
    position: relative;
    @include zIndex();
}

.site-content-section--testimoials{

    .site-content-section--testimoials-content{
        padding-left: 6rem;
        overflow: hidden;
    }

    .site-content-section--testimoials-content-slider{
        width: 3000px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 auto;
    }
    
    .site-content-section--testimoials-item{
        width: calc(75vw);
        padding-right: 50px;

        @include media-from($breakpoint-lg){
            width: calc(35vw);
        }
    }

    .site-content-section--testimoials-nav{
        display: flex;
        flex-direction: row;
        height: 100%;
        margin-top: 40px;
    }
}