.site-icon-medium{
    width: 48px;
    height: 48px;
    fill: $grey-60;
}

.site-content-about--team-member{
    background: transparent;
    border: none;
}

.site-content-about--team-member-image{
    height: 360px;
    overflow: hidden;
    margin-bottom: 18px;
    border-radius: 10px;

    & img{
        object-fit: cover;
        height: 458px;
    }
}

.site-section-promo--image{
    overflow: hidden;
    border-radius: 9px;

    img{
        object-fit: cover;
        width: 100%;
    }
}

.site-content-about--team-member{
    .badge{
        padding: 6px 10px 3px 10px;
        background-color: $theme-color-primary;
        color: #fff;
    }
}

.site-content-about--team-member-socials-item{
    width: 18px;
    height: 18px;
    cursor: pointer;

    svg{
        width: 1em;
        height: 1em;
        fill: $theme-color-primary;
    }
    
    &:not(:last-child){
        margin-right: 14px;
    }

    &:hover{
        svg{
            fill: $theme-color-secondary;
        }
    }
}

.site-section-promo--list-icon{
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.site-content-about--purposes{
    padding: 0;
    margin: 0; 

    .site-content-about--purposes-image{
        width: 100%;
        max-height: 650px;
        border-radius: 0 25px 0 25px;
        overflow: hidden;

        img{
            width: auto;
        }
    }
}

.site-content-about--vision{
    padding: 0;
    margin: 0; 

    .site-content-about--vision-image{
        width: 100%;
        max-height: 650px;
        border-radius: 0 0 25px 0;
        overflow: hidden;

        img{
            width: auto;
        }
    }
}

.site-content-about--history{
    padding: 0;
    margin: 0; 

    .site-content-about--history-image{
        width: 100%;
        height: 350px;
        overflow: hidden;

        img{
            width: 100%;
        }
    }

    .site-content-about--history-image-1{
        border-radius: 25px 0 0 0;
    }

    .site-content-about--history-image-2{
        border-radius: 0 0 25px 0;
    }
}
